
/* Variables
========================================================================== */

$white: #ffffff;
$black: #000000;

body {
  font-family: Arial, sans-serif;
}

.d-block {
  display: block;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.time {
  min-width: 9.375rem;
}
dt,
.title-bold {
  color: #004165;
  font-weight: 700;
  line-height: 1.8;
  font-size: 1.4rem;
  padding: 0.2rem 0.6rem;
}
dd {
  margin: 0 0 2rem;
}
hr {
  border: none;
  margin: 0;
}
dl, p, .lead {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.8;
}

.lead {
  margin-bottom: 2rem;
}

[contenteditable=true],
[contenteditable=false] {
  cursor: text;
  text-align: left;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  &:empty::before {
    content: attr(placeholder);
  }
}

[contenteditable=true] {
  transition-delay: 0s!important;
  transition: .1s background linear;
  &:hover {
    background-color: #fafafa;
  }
  &:focus {
    outline: 2px solid transparent;
    background-color: #eeeeee;
    &::before {
      opacity: 0.5;
    }
  }
}

table {
  width: 100%;
  border: 1px solid #000;
  margin: 0;
  td, th {
    border: 1px solid #000;
    padding: 0.2rem 0.6rem !important;
    color: #000;
    text-align: left;
    height: 15px;
  }
  td:empty {
    height: 18px;
  }
  th:empty {
    display: none;
  }
  td:last-of-type {
    text-align: right;
  }
}
.no-border {
  border: none !important;
  td, th {
    border: none !important;
    padding: 0.2rem 0 !important;
  }
}

.fa-spinner {
  margin-left: .625rem;
}
.fa-print {
    font-size: 1.25rem !important;
}


/* UTILITIES
========================================================================== */
.ballots {
  padding-left: 5.375rem;
  margin-top: 1.25rem;
  box-sizing: border-box;
  display: flex !important;
  margin: 15px -10px 0;
  p{
    width: 33.33%;
    padding: 0 10px;
  }
  span {
      display: block;
      font-size: .625rem;
      display: block;
      border: 1px dotted $black;
      padding: .5rem .625rem;
      height: 4.5rem;
  }
}

.agenda {
  margin-bottom: 1px;
  position: relative;
  outline: transparent dashed 1px;
  transition: all .3s;
  background-color: $white;
  z-index: 10;
  &-actionButtons {
    position: absolute;
    display: flex;
    left: auto;
    opacity: 0;
    right: 2rem;
    top: 0;
    transition: all 300ms linear;
    .action {
      width: 2.8rem;
      height: 2.8rem;
      display: block;      
      border-radius: .4rem;
      margin-left: 1rem;
      cursor: pointer;
      position: relative;
      display: flex;
      font-size: 0;
      img {
        display: block;
        width: 1rem;
        margin: 0 auto;
        align-self: center;
      }
      &-remove {
        background-color: #DB0000; 
      }
      &-reorder {
        background-color: #FF8900;
        cursor: grab;
      }
      &-add {
        background-color: #00D664;
        img {
          width: 1.2rem;
        }
      }
    }  
  }
  @media screen {
    &.no-hover {
      .editor-toolbar {
        display: none;
      }
    }
    &.hover{
      padding: 2rem;
      &:hover {
        outline: #d3d3d3 dashed 1px;
        overflow: visible;
        box-shadow: #f0f0f0 0 0.5rem 4rem;
        z-index: 11;
        .agenda-actionButtons {
          opacity: 1;
          top: -1.5rem;
        }
      }
    }
  }

  &-time {
    max-width: 6rem;
    flex: 0 0 6rem;
    font-weight: 700;
    color: #003F62;
    font-size: 1.5rem;
    input {
      width: 100%;
      color: #003F62;
      &::placeholder {
        color: #003F62;
      }
    }  
  }
  @media print {
    &-actionButtons {
      display: none;
    }
  }
}

.d-flex {
  display: flex;
}
.editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.6rem;
  border-radius: 0;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 0.2rem 0.2rem 0 0;
  .separator {
    margin-right: 1.6rem !important;
  }
  button {
    display: block;
    font-weight: 700;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    color: #5f6368;
    margin-right: 1rem;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 300ms linear;
    outline: 2px solid transparent;
    &.active,
    &:hover {
      background: rgba(160, 203, 250, 0.5);
      border-color: rgba(160, 203, 250, 0.8);
      box-shadow: rgba(0, 123, 255, 0.2 ) 0 .4rem .8rem;
      color: #000;
    }

  }
}
.CodeMirror {
  border: none;
  box-shadow: inset #eee 0 0 0 1px;
  border-radius: 0 0 0.2rem 0.2rem;
  &-vscrollbar {
    width: 0 !important;
    min-height: auto !important;      
  }

  &-wrap {
    padding: 0;
  }
  &-sizer {
    margin: 0;
  }
  &-focused {
    border-color: #e0e0e0;
    background-color: #eeeeee;
  }
  &-scroll {
    min-height: 8rem !important;
    padding-bottom: 0;
    width: 100%;
    margin: 0;
    display: block;
    padding: 0;
  }
}
.editor-preview {
  table td,
  table th {
    border-color: inherit;
    padding: inherit;
  }
}
.editor-preview-active {
  background-color: #fff;
  padding: 0;
  position: static;
}
.disabled-for-preview {
  & + .CodeMirror {
    .CodeMirror-scroll {
      display: none;
    }
  }

}

.mark-down {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.6rem;
  span {
    display: block;
    font-weight: 700;
    height: 2.6rem;
    line-height: 2.6rem;
    background-color: #fff;
    color: #5f6368;
    margin-right: 1rem;
    border-radius: 0.2rem;
    &.d-block {
      max-width: 100%;
      flex: 0 0 100%;
      font-size: 1rem;
      text-transform: capitalize;
      color: #999;
    }
    &.action {
      border: 1px solid rgba(0, 0, 0, .1);
      padding: 0 1rem;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all 300ms linear;
      &:hover {
        background: rgba(160, 203, 250, 0.5);
        box-shadow: rgba(0, 123, 255, 0.2 ) 0 .4rem .8rem;
        color: #fff;
      }
    }
  }
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1.2rem 1.5rem 1rem;
  color: $white;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 300ms linear;
  border-radius: 2px;
  border: 1px solid rgba(0 ,0, 0, 0.1);
  [role="img"] {
    margin-right: 0.8rem;
    font-size: 1.2rem;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  &-outline {
    text-align: center;
    border: 1px solid rgba(0 ,0, 0, 0.1);
    box-shadow: rgba(0 ,0, 0, 0.03) 0 2px 2px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;    
    text-decoration: none;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      background-color: #f6f6f6;
      color: rgba(0 ,0, 0, 1);
      border: 1px solid rgba(0 ,0, 0, 0.15);
      box-shadow: rgba(0 ,0, 0, 0.03) 0 4px 4px;
    }
  }

  &-add {
    background-color: rgba(0, 123, 255, 1 );
    color: #fff;
}
  &-print {
    color: #004165;
    &:hover {
     background-color: #004165;
     color: #fff;
    }
  }
  &-save {
    color: rgba(0, 123, 255, 1 );
    &:hover {
      background-color: rgba(0, 123, 255, 1 );
      color: #fff;
    }
  }
  &-warning {
    color: #ad125b;
    &:hover {
      background-color: #ad125b;
      color: #fff;
    }

  }
  &:focus {
    outline: 0 solid transparent;
  }
}
.form-item {
  border: none;
  border-radius: 0.4rem;
  font-size: inherit;
  color: inherit;
  line-height: 1.8;
  display: block;
  width: 100%;
  padding: 0.2rem 0.6rem;
  transition: .1s background linear;
  box-sizing: border-box;
  font-weight: inherit;
  box-shadow: none;
  &[name='clubName'],
  &[name='clubNumber'],
  &[name='meetingTheme'] {
    font-size: inherit;
  }
  &:hover {
    background-color: #fafafa;
  }
  &:focus {
    outline: 2px solid transparent;
    background-color: #eeeeee;
  }
  &:disabled {
    background: none;
    &:not([name="startAt"]) {
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
          color: transparent;
      }
      &::-moz-placeholder {
          color: transparent;
      }
      &:-ms-input-placeholder {
          color: transparent;
      }    
    }
  }
}
textarea.form-item {
  resize: none;
  width: 100%;
  min-height: 8rem;
  &.small {
    min-height: 5rem;    
  }
  &.large {
    min-height: 20rem;
  }
}
blockquote {
  margin: .125rem 0;
  border: 1px solid #000;
  padding: .875rem;
  margin-bottom: .625rem;
  line-height: 1.8;
  p {
      display: flex;
      flex-direction: row;
      span {
          white-space: nowrap;
          padding-right: 0.5rem;
      }
  }

}
.no-border {
  table {
    border: none;
    th, td {
      border-color: transparent !important;
      padding: 0;
    }
  }
}


// stylelint-disable declaration-no-important, selector-no-qualifying-type

// Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// ==========================================================================

  @media print {
    *,
    *::before,
    *::after {
      // Bootstrap specific; comment out `color` and `background`
      //color: $black !important; // Black prints faster
      text-shadow: none !important;
      //background: transparent !important;
      box-shadow: none !important;
    }
    header {
      filter: grayscale(100%);
    }
    table, td, th, .ballots span,
    blockquote, dt, dd, time,
    .title-bold, .agenda-time input,
    a:link, a:visited,
    &[name='clubName'],
    &[name='clubNumber'],
    &[name='meetingTheme'] {
      border-color: #000 !important;
      color: #000 !important;
    }
    .inWrap {
      border-right-color: #000 !important;
    }

    a {
      &:not(.btn) {
        text-decoration: underline;
      }
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      page-break-inside: avoid;
    }


    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
    aside {
      border-width: 1px;
    }

    @page {
      size: A4;
      margin: 0;
    }
    .agenda{
      padding: 0;
      &-content {
        margin-top: 0;
      }
    }
    .form-item {
      user-select: none;
    }
    .form-item,
    dt,
    .CodeMirror pre,
    .title-bold {
      padding: 0;
    }
    .print-preview {
      margin: 0;      
    }
    .CodeMirror-scroll,
    .CodeMirror-sizer {
      min-height: auto !important;
    }
    .editor-toolbar {
      display: none;
    }
    ::-webkit-input-placeholder {
      color: transparent;
    }
    :-moz-placeholder {
        color: transparent;
    }
    ::-moz-placeholder {
        color: transparent;
    }
    :-ms-input-placeholder {
        color: transparent;
    }
  }